*png
*jpg
*jpeg
*csv
*pkl
*npz
*json
/gnn
/angry
/face_angry
/face_happy
/face_neutral
/face_sad
/face_surprised
/face_disgusted
/angry_meshpoints
/happy_meshpoints
/neutral_meshpoints
/sad_meshpoints
/surprised_meshpoints
/disgusted_meshpoints